<<<<<<< HEAD
<<<<<<< HEAD
  {{!-- <section id="hero">
=======
>>>>>>> a95ae2dc8b0aa1cadc5ea15ab06cc74c6fa760da
<nav class="relative container  mx-auto p-5">
    <div class="flex items-center justify-between">
        <a href='/' id="title" class="pt-2 font-sans text-5xl text-white pr-2">
            CRESCENDO
        </a>
        <a href="/login" id="login"
            class="text-white bg-darkerBlue flex p-3 px-6  pt-2 block rounded-full baseline hover:bg-brightRed md:flex">
            login
        </a>
        <a href="" id="logout"
            class="text-white bg-darkerBlue flex p-3 px-6  pt-2 block rounded-full baseline hover:bg-brightRed md:flex">
            logout
        </a>
        <a href="/playlists" id="playlist"
            class="text-white bg-darkerBlue flex p-3 px-6  pt-2 block rounded-full baseline hover:bg-brightRed md:flex">
            playlists
        </a>

    </div>
</nav> --}}
=======
>>>>>>> 2c90c9617ffa25e46fb69d24dec6801ba2a6d843
<section id="hero">
    <div class="container flex flex-col md:flex-row items-center px-6 mx-auto  space-y-0 sm:space-y-0">
        <!-- text and button -->
        <div class="flex flex-col space-y-6 md:w-1/2">
            <h1 class="max-w-md text-3xl text-white text-left">Welcome to Crescendo, a site that allows you to
                connect your favorite music with people you love.</h1>
            <div class="flex text-3xl">
                <a href="/login" id="login"
                    class="text-white bg-darkerBlue flex p-3 px-6 pt-2 block rounded-full baseline hover:bg-brightRed">
                    let's go
                </a>
            </div>
        </div>
        <!-- img -->
        <div class="flex flex-col md:flex-row">
            <img class=""
                src="/images/young-girl-cartoon-character-listening-music-from-her-mobile-phone-2948551-2447318-copy.png"
                alt="young person listening to music" />
        </div>
    </div>
</section>

<footer class="relative container mx-auto pl-5 pt-2">
    <h4 class="text-white">made by Layne, Matthew, Paul, Scott, and Xander</h4>
</footer>