

body {
    background-color: #5C5AC9;
}
.title {
    text-decoration: none;
    color: white;
    font-family: 'Asap', sans-serif;
    font-size: xx-large;
}

.homepage-txt {
    color: white;
    font-family: 'Asap', sans-serif;
}

.btn {
    background-color: #2C3487;
    text-decoration: none;
    color: white;
    font-family: 'Asap', sans-serif;
    border-radius: 8px;
    border: none;
    padding: 8px;
}

#login {
    font-size: large;
}

#sign-up {
    font-size: x-large;
}