body {
    background-color: #5C5AC9;
}
.title {
    text-decoration: none;
    color: white;
    font-family: 'Asap', sans-serif;
}

.homepage-txt {
    color: white;
    font-family: 'Asap', sans-serif;
}

